{% extends 'base.html' %}

{% block content %}
<h2 class="text-center">Create New Article</h2>
<a href="{{ request.META.HTTP_REFERER|default:'/' }}" class="btn btn-secondary">Back to Previous Page</a>

<div class="row justify-content-center">
    <div class="col-md-8">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                {{ form.title }}
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                {{ form.description }}
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                {{ form.content }}
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                {{ form.category }}
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                {{ form.image }}
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Video</label>
                {{ form.video }}
            </div>
            <div class="mb-3">
                <label for="video_url" class="form-label">Video URL</label>
                {{ form.video_url }}
            </div>
            <div class="mb-3">
                <label for="external_link" class="form-label">External Link</label>
                {{ form.external_link }}
            </div>
            <button type="submit" class="btn btn-success w-100">Submit Article</button>
        </form>
    </div>
   
</div>
{% endblock %}
